*{
    margin: 0;
    padding: 0;
}

.login{
    clear: both;
    width: 100%;
}
a:link {
    color: white;
    text-decoration: none;
  }
  
  /* visited link */
  a:visited {
    color: white;
    text-decoration: none;
  }
  
  /* mouse over link */
  a:hover {
    color: white;
    text-decoration: none;
  }
  
  /* selected link */
  a:active {
    color: white;
    text-decoration: none;
  }
.contenedor{
    clear: both;
    float: left;
    width: 100%;
    margin: 0% 0% 0% 0%;
    background-color: #d1e1e6;
}
.saludo{
    clear: both;
    float: left;
    width: 50%;
    box-sizing: border-box;
    padding: 1% 3% 0 2%;    
    height: 13vh;
    background-color: #4267b2;
    color: white;
}
.cerrarSesion{
    float: left;
    width: 50%;
    text-align: right;
    box-sizing: border-box;
    padding: 1% 2% 0 3%;    
    background-color: #4267b2;
    height: 13vh;
    
}
.tipoUsuario{
    clear: both;
    float: left;
    width: 100%; 
    box-sizing: border-box;
    padding: 0 3% 1% 2%;
    background-color: #4267b2;
    color: white;
}
#columnaIzq{
    clear: both;
    float: left;
    width: 25%; 
    box-sizing: border-box;
    padding: 5% 3% 5% 2%;
    background-color: #d1e1e6;
}
#columnaCen{
    float: left;
    width: 50%;
    box-sizing: border-box;
    padding: 5% 2% 5% 2%;
    background-color: #d1e1e6;
}
#columnaDer{
    float: left;
    width: 25%;
    box-sizing: border-box;
    padding: 5% 2% 5% 3%;
    background-color: #d1e1e6;
}
.puedesSeguir{
    clear: both;
    float: left;
    width: 50%; 
    padding-bottom: 5%;   
}
#queNosigo{
    clear: both;
    float: left;
    width: 50%;
    cursor: pointer; 
    padding: 5px;
}
.estasSiguiendo{
    clear: both;
    float: left;
    width: 50%;
    padding-bottom: 5%;   
}
#queSisigo{
    clear: both;
    float: left;
    width: 50%; 
    cursor: pointer; 
}


/* #actualizar{
    clear: both;
    float: left;
    width: 99%;
    text-align: right;    
    padding-bottom: 5%;
    cursor: pointer;
    color: white;
} */
.publicacion{
    clear: both;
    float: left;
    width: 99%; 
    background-color: #d1e1e6;  
    box-sizing: border-box;
    padding: 2% 0 2% 0;     
}
.contenidoPublicacion{
    clear: both;
    float: left;
    width: 100%; 
    background-color: #d1e1e6;  
    box-sizing: border-box;
    padding: 2% 0 2% 0;     
}
.contenidoConcreto{
    border: 2px solid white;
    border-radius: 11px;
    clear: both;
    float: left;
    width: 94%;
    background-color: white;
    box-sizing: border-box;
    padding: 2% 0 2% 0;
    /* border: 1px solid; */
    /* margin: 5px; */
    margin: 3% 0% 1% 3%;
    padding: 25px;
}
.pad{
    margin: 3%;
}
.formu{
    margin: 13% 35% 5% 29%;;
}
.contenedor1{
    padding: 9%;
}
.texto{
    width: 100%;
}
.circulo {
    width: 25px;
    height: 25px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #5cb85c;
    float: left;
}
.bor{
    border: 2px solid white;
    border-radius: 11px;
    float: right;
    width: 100%;
    margin: 3% 0% 1% 3%;
    padding: 4px;
}
.imagen{
    width: 100%;
}
.size{
    font-size: x-small;
    float: right;
}
.down{
    clear: both;
    float: left;
    width: 100%;
    height: 15vh;
    background-color: #4267b2
}
.logo{
    width: 196px;
}
.fotoper{
    width: 100%;   
    border-radius: 39%;
}
.cuadro{
    width: 7%;
    float: right;
    color: white;
    text-align: center;
}
.texto{
    border-radius: 11px;
}
.botonpub{
    
    border-radius: 11px;
    width: 30%;
    float: right;
    background-color: #4267b2;
    height: 49px;
    color: white;
    border: 2px solid white;
}
.botonseguir{
    float: left;
    width: 40%;
}
.nompub{
    width: 30%;
    height: 100px;
}
.maque{
    float: left;
    padding: 27px 2px 0px 2px;
}
.bar{
    border: 2px solid white;
    border-radius: 11px;
    float: right;
    width: 100%;
    margin: 3% 0% 1% 3%;
    padding: 4px;
}
.ber{
    width: 60px;
    height: 60px;
    float: left;
    border-radius: 50%;
}
.comen{

border: 1px solid black;
    border-radius: 11px;
    clear: both;
    float: left;
    width: 100%;
    background-color: #d1e1e682;
    box-sizing: border-box;
    padding: 28px;}
    .logo1{
        width: 100%;
        text-align: center;
    padding: 1% 0% 0 0%;
    }
    .logo2{
        width: 20%;
    }
    .imgpub{
        width: 100%;
       
    }

    /*PERFIL*/
.up2{
    display: flex;
    justify-content: space-between;
    background-color: blue;
    padding: 10px;
}
/* .logo2{
    width: 47%;
} */
.cerrarSesion2{
    display: flex;
    flex-direction: row-reverse;
}
.fotoper2{
    width: 52px;
}
.fotoper3{
    width: 100%;
    border-radius: 39%;
}
.informacion{
    display: flex;
    border: 1px solid;
    padding: 27px;
    justify-content: center;
}
.infoleft{
    margin: 0 20px 0 0;  
}
.img_perf{
    border-radius: 15%;
}
.inforight{
    display: flex;
    border: 1px solid;
    margin: 0 0 0 20px;
    align-items: center;
}
.separar{
    margin: 20px;
}
.border{
    border: 2px solid;  
}


#queSisigo2 {
    clear: both;
    float: left;
    width: 15%;
    cursor: pointer;
    margin: -21% 0% 0% 83%;
    padding: 0% 0% 20% 2%;
}
/*REGISTRO*/

body{
    background: url("../img/fondo3.jpg");
    background-size: cover;
}
#resultado, #resultado_3{
    color: black;
}
a,
[type="submit"] {
  transition: all .25s ease-in;
}

.titulo_registro{
  color: rgb(14, 13, 13);
}

.signup__container, .signup__container_2 {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50rem;
  height: 30rem;
  border-radius: 0.1875rem;
  box-shadow: 0px 0.1875rem 0.4375rem rgba(0, 0, 0, 0.25);
}

.signup__container_2{
  height: 45rem;
}

.signup__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.46);
}

.container__child {
  width: 50%;
  height: 100%;
  color: #fff;
}

.signup__thumbnail {
  position: relative;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background: url("../img/happy-people-friends.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.signup__thumbnail2 {
  position: relative;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background: url("../img/happy-people-friends-2.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.thumbnail__logo,
.thumbnail__content,.thumbnail__content2,
.redes {
  position: relative;
  z-index: 2;
}

.thumbnail__content2{
  margin-bottom: 15%;
}

.thumbnail__logo {
  align-self: flex-start;
}

.logo__shape {
  fill: #fff;
}

.logo__text {
  display: inline-block;
  font-size: .8rem;
  font-weight: 700;
  vertical-align: bottom;
}

.thumbnail__content {
  align-self: center;
}

h1,
h2 {
  font-weight: 300;
  color: white;
}

.encabezado-primario {
  font-size: 1.999rem;
}

.encabezado-secundario {
  font-size: 1.414rem;
}

.redes {
  align-self: flex-end;
  width: 100%;
}

.redes a {
  font-size: 1rem;
  color: #fff;
}
.redes a:focus, .redes a:hover {
  color: rgba(255, 255, 255, 0.5);
}

.signup__form {
  padding: 2.5rem;
  background: #fafafa;
}

label {
  font-size: .85rem;
  text-transform: uppercase;
  color: #ccc;
}

.form-control {
  background-color: transparent;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-radius: 0;
}

.form-control:focus {
  border-color: #111;
}

[type="text"] {
  color: #111;
}

[type="password"] {
  color: #111;
}

.btn--form {
  padding: .5rem 2.5rem;
  font-size: .95rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
  background: #111;
  border-radius: 2.1875rem;
}
.btn--form:focus, .btn--form:hover {
  background: #323232;
}

.signup__link {
  font-size: .8rem;
  font-weight: 600;
  text-decoration: underline;
  color: #999;
}
.signup__link:focus, .signup__link:hover {
  color: #787878;
}

#methods{
  position: absolute;
  top: 15%;
  left: 89%;
  z-index: 10;
  opacity: 0;
}

#methods:hover{
  cursor: pointer;
}

#methods:checked ~ .fa-eye-slash{
  opacity:0.2 ;
}

#methods:checked ~ .fa-eye{
  opacity:0 ;
}

.fa-eye-slash {
  opacity: 0;
}

.infoleft {
	border-radius: 50%;
	border: 4px solid white;
	height: 210px;
	overflow: hidden;
	transform: translateX(-10%) translateY(-2%);
	width: 210px;
  top: 0;
}

 .img_perf{
  box-sizing: border-box;
  height: 100%;
  left: 50%;
  max-height: 100%;
  position: absolute;
  transform: translateX(-50%);
  width: auto;
}


 .image-wrapper {
	background: rgba(0, 0, 0, 0.2);;
	left: 0;
	position: absolute;
	transition: bottom 0.55s linear;
	width: 100%;
} 

/* .image-wrapper {
  width: 200px;
  height: 250px;
  background-color: #00cccc;
  position: absolute;
  transition: all .8s ease-in;
} */

/*y como sólo hay una que sube, pues es la única que tiene esta etiqueta*/
.image-sube {
  bottom: -174px;
  right: 250px;
  height: 24%;
}

.infoleft:hover .image-sube {
  bottom: 0;
} 


.edit {
	color: white;
	cursor: pointer;
	font-size: 22px;
	top: 10px;
}

.hidden-input {
	left: -999px;
	position: absolute;
} 

.cover {
	height: 300px;
	overflow: hidden;
	position: relative;
  width: 100%;
}

.glyphicon {
  position: relative;
  top: 10px;
  left: 95px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.loader {
	animation: spin 0.35s infinite linear;
	border: 2px solid #707070;
	border-radius: 50%;
	border-top-color: white;
	height: 25px;
	transform-origin: left;
	top: 45%;
	width: 25px;
} 

.ocultar_cerrar{
  display: none;
}