.cajaimg{
    display: flex;
    margin: 16px 19px;
    border: 3px solid;
    /* border-radius: 0px; */
    border-right: 0px;
    border-left: 0px;
    justify-content: center;
    align-items: center;
}
